<html>
  <body>
    <h1>Add Investor</h1>
    <form method="POST" action="/">
      <input type="text" name="firstname">
      <input type="text" name="lastname">
      <input type="submit" value="Add">
    </form>

    <h1>Investors</h1>
    <table>
      {% for investor in investors %}
        <tr>
          <td>
            {{investor.firstname}}
          </td>
          <td>
            {{investor.lastname}}
          </td>
          <td>
            <form method="POST" action="./update" style="display: inline">
              <input type="hidden" value="{{investor.firstname}}" name="oldfirstname">
              <input type="text" value="{{investor.firstname}}" name="newfirstname">
              <input type="submit" value="Update">
            </form>
          </td>
          <td>
            <form method="POST" action="./delete" style="display: inline">
              <input type="hidden" value="{{investor.firstname}}" name="firstname">
              <input type="submit" value="Delete">
            </form>
          </td>
          <td>
            <form method="POST" action="./upload" style="display: inline" enctype="multipart/form-data">
              <input type="file" name="file">
              <input type="submit" value="Upload">
            </form>
          </td>
        </tr>
      {% endfor %}
    </table>
  </body>
</html>
