<html>
  <body>
    <h1>Add Investor</h1>
    <form method="POST" action="/">
      <input type="text" name="firstname">
      <input type="submit" value="Add">
    </form>

    <h1>Investors</h1>
    {% for investor in investors %}
      <p>{{investor.firstname}}</p>
      <form method="POST" action="./update">
        <input type="hidden" value="{{investor.firstname}}" name="oldfirstname">
        <input type="text" value="{{investor.firstname}}" name="newfirstname">
        <input type="submit" value="Update">
      </form>
      <form method="POST" action="./delete">
        <input type="hidden" value="{{investor.firstname}}" name="firstname">
        <input type="submit" value="Delete">
      </form>
    {% endfor %}
  </body>
</html>
